@font-face {
  font-family: "Molot";
  src: url("/fonts/Molot.otf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Molot";
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.main_nav_item {
  margin: 0 0.3rem;
}
